nav{
    background-image: url(./loopstudios-landing-page-main/images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    
    
   width: 100%;
    background-position: center;
    background-size: cover;
   height: 500px;
   
}

a:hover{
    text-decoration: underline;
    
    text-decoration-thickness: 5px;
    text-decoration-skip: 2;
    text-underline-offset: 5px;
}
button:hover{
    background-color: black;
    color:white;
}
.under:hover{
    border-width: 5px;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom: 2px;
    cursor: pointer;
    border-style: solid;
    padding-bottom: 5px;
}
@media (max-width:2000px){
    .over{
   
        margin-left: 40%;
           
       }
       .images{
        
      position: absolute;
       }
    .image{
        width: 400px;
    }
    footer{
        margin-top: 95%;
        position: absolute;
        width: 100%;
       }
       .second{
        background-color: white;
       }
}
@media (max-width:959px){
    
    .image1{
        width: 700px;
        height: 500px;
        margin-left: 5%;
       
       
    }
    .over{
        position: absolute;
        margin-left: -5%;
        margin-top: 50%;
        text-align: center;
           
       }
       .width1{
        width: 60.5%;
        margin-left:15%
       }
       .width2{
        width:87%;
        margin-left:5%
       }
       .images{
        margin-top: 90%;
      
       }
       footer{
        margin-top: 190%;
        position: absolute;
        
       }
       #list{
        background-color: black;
        text-align: left;
        width: 100%;
        position: absolute;
        padding-top: 20%;
        flex-direction: column;
        height: 700px;
        font-size: 50px;
        margin-top: 37%;
        margin-left: -5%;
       }
       #close{
        
       }
       .second{
        margin-bottom: -309%;
        background-color: transparent;
       
        height: 50%;
       
       }
       .our{
        text-align: center;
        font-size: 50px;
       }
       .lead{
        font-size: 50px;
       }
       .width1{
        font-size: 50px;
       }
}

@media (max-width:900px){
    .image1{
    margin-left: 3%;
    margin-right:0px;
    width: 700px;
    }
    .second{
        margin-top: 55%;
        
       }
       .width1{
        width: 65.5%;
       }
}

@media (max-width:850px){
    .image{
        width: 700px;
    }
    .image1{
        margin-left: 0%;
    }
    .width2{
        width: 90%;
    }
}
@media (max-width:820px){
    .image{
        width: 700px;
    }
    .image1{
        margin-left: -2%;
    }
}
@media (max-width:790px){
    .image{
        width: 700px;
    }
    .image1{
        margin-left: -4%;
    }
}
@media (max-width:770px){
    .image{
        width: 700px;
    }
    .image1{
        margin-left: -6%;
    }
    .second{
        margin-top: 69%;
        margin-left: -10%;
    }
    .images{
        margin-top: 110%;
    }
    footer{

        margin-top:  215%;
    }
}
@media (max-width:750px){
    .image{
        width: 700px;
    }
    .image1{
        margin-left: -7%;
    }
    .second{
        margin-top: 69%;
        margin-left: -10%;
    }
}
@media (max-width:739px){
    .image1{
        margin-left: -9%;
    }
}
@media (max-width:719px){
    .image1{
        margin-left: -10%;
        margin-right: 10%;
    }
}
@media (max-width:709px){
    .image1{
        margin-left: -10.5%;
        margin-right: 10%;
    }
    .second{
        margin-top: 73%;
    }
}
@media (max-width:700px){
    .image1{
        margin-left: -11.5%;
        margin-right: 10%;
    }
    .second{
        margin-top: 73%;
       
    }
}
@media (max-width:680px){
    .images{
        margin-top: 115%;
    }
    .image{
        width: 600px;
    }
    .second{
        margin-top: 73%;
       
    }
    footer{
        margin-top: 220%;
        width: 100%;
    }
    #menu{
        margin-right: -100%;
    }
    .logo{
        margin-left: -10%;
    }
    #list{
        padding-top: 25%;
        padding-left: 10%;
        font-size: 35px;
        line-height: 60px;
        width: 100%;
    }
    .width1{
        width: 70%;
        margin-left: 15%;
        
    }
    .them{
        margin-left: -10%;
    }
    nav{
        margin-left: 0%;
    }
}
@media (max-width:660px){
    .image1{
        width: 100%;
        margin-left: -12%
    }
    .main{
        width: 100%;
        ;
    }
}
@media (max-width:650px){
    .image1{
        margin-left: -13%;
    }
    .them{
        margin-left: -11%;
    }
    .width1{
        width: 75%;
    }
    .images{
        margin-top: 125%;
    }
    footer{
        margin-top: 234%;
    }
    .lead{
        width: 115%;
        margin-left: -10%;
    }
    .width2{
        width: 120%;
        margin-left: -10%;
    }
    .second{
        margin-left: -10%;
        width: 90%;
    }
    #menu{
        margin-left: 29%;
    }
    
}
@media(max-width:600px){
    #list{
        padding-top: 30%;
    }
    .images{
        margin-top: 135%;
    }
    footer{
        margin-top: 244%;
    }
    .lead{
        width: 125%;
    }
    .width1{
        width: 80%;
    }
}
@media(max-width:568px){
    .create{
        width: 69%;
        margin-top: 10%;
    }
    .image1{
        margin-left: -14%;
    }
    .lead{
        width: 135%;
        margin-top: 15%;
    }
    .width2{
        width: 140%;
        margin-left: -15%;
    }
    .width1{
        width: 85%;
        margin-left: 5%;
    }
    .create{
        width: 100%;
    }
    footer{
        margin-top: 254%;
    }
    .them{
        margin-left: -25%;
    }
    #menu{
        margin-left: 35%;
    }
}
@media(max-width:550px){
    #list{
        padding-top: 40%;
        font-size: 30px;
        line-height: 50px;
    }
    .image1{
        margin-left: -15%;
    }
    .lead{
        margin-left: -25%;
        width: 150%;
    }
    .width2{
        width: 150%;
        margin-left: -22%;
    }
    #list{
        padding-top: 35%;
        padding-left: 2%;
    }
}
@media(max-width:530px){
    .create{
        width: 200%;
    }
    .width1{
        width: 90%;
    }
    .lead{
        margin-top: 30%;
    }
}

@media(max-width:520px){
    .images{
       
        margin-top: 145%;
    }
    footer{
        margin-top: 264%;

    }
    .image1{
        margin-left: -15.9%;
    }
    .width1{
        width: 95%;
    }
    .lead{
        width: 160%;
        margin-left: -30%;
    }
    .width2{
        width: 155%;
        margin-left: -30%;
    }
}
@media (max-width:483px) {
    .image1{
        height: 50%;
        width: 100%;
        margin-left: -17%;
    }    
    .lead{
        margin-top: -30%;
        width: 165%;
    }
    .width2{
        width: 170%;
        margin-left: -35%;
    }
    .images{
        margin-top: 115%;

    }
    footer{
        margin-top: 240%;
    }
    .them{
        margin-left: -30%;
    }
    .create{
        
        margin-left: 20%;
    }
    .width1{
        width: 100%;
        margin-left: 1%;
    }
    .them{
        margin-left: -35%;
    }
}
@media (max-width:482px) and (max-height:1640px) {
    .images{
        margin-top: 175%;

    }
    .image1{
        height: 40%;
    }
    .second{
        margin-top: 140%;
    }
    footer{
        margin-top: 310%;
    }
}
@media(max-width:472px){
    .lead{
        width:170%;
        margin-left: -36%;
    }
    footer{
        margin-top: 245%;
    }
}
@media(max-width:463px){
    .lead{
        width:170%;
        margin-left: -36%;
        font-size: 40px;
    }
    footer{
        margin-top: 245%;
    }
    .width2{
        margin-top: -7%;
    }
    .width1{
        width: 110%;
        margin-left: -5%;
    }
    .them{
        margin-left: -42%;
    }
    #menu{
        margin-left: 45%;
    }
}
@media(max-width:450px){
    #menu{
        margin-left: 40%;
    }
    .image1{
        margin-left: -19%;
    }
    .lead{
        margin-top: 3%;
        font-size: 40px;
    }
    .images{
        margin-top: 130%;
    }
    .our{
        font-size: 40px;
    }
    footer{
        margin-top: 265%;
    }
}
@media(max-width:450px) and (max-height:1640px){
    #list{
        padding-top: 50%;
    }
    .images{
        margin-top: 220%;
    }
    footer{
        margin-top: 365%;
    }
}
@media(max-width:423px){
    .width1{
        font-size: 40px;

    }
.them{
    margin-left: -45%;
}
#menu{
    margin-left: 30%;
}
.images{
    margin-top: 140%;
}
footer{
    margin-top: 275%;
}
.image1{
    width: 95%;
}
}
@media(max-width:423px) and (max-height:1640px){
    .images{
        margin-top: 220%;
    }
    .image1{
       margin-left: -17%;
    }
    footer{
        margin-top: 365%;
    }
}
@media(max-width:400px){
.images{
   width: 100%;
}

.width2{
    margin-left: -45%;
   
}
.them{
    margin-left: -50%;
}
main{
    width: 120%;
}
.create{
       
    margin-left: 12%;
}
.image1{
    margin-left: -17%;
}
}
@media(max-width:400px) and (max-height:1640px){
    .images{
        margin-top: 230%;
    }
    .image1{
       margin-left: -18%;
    }
    footer{
        margin-top: 365%;
    }
    .second{
        margin-top:160%;
    }
    #list{
        
    }
}
@media(max-width:382px){
    .them{
        margin-left: -50%;
    }
    main{
        width: 120%;
    }
    .lead{
        margin-left: -50%;
    }
    .width2{
        margin-left: -55%;
    }
    .images{
        margin-top: 150%;
       
    }
    footer{
        margin-top: 285%;
    }
}
@media(max-width:382px) and (max-height:1640px){
    .images{
        margin-top: 240%;
    }
    .image1{
       margin-left: -18.5%;
    }
    footer{
        margin-top: 380%;
    }
    .second{
        margin-top:160%;
    }
    #list{
        
        padding-top: 60%;
    }
}
@media(max-width:370px){
    .create{
        width: 70%;
        text-align: center;
        margin-left: 5%;
    }
    .images{
        margin-top: 160%;
    }
    footer{
        margin-top: 300%;
    }
    .them{
        margin-left: -55%;
    }
    .image1{
        margin-left: -19%;
    }
    .lead{
        width: 200%;
        margin-left: -70%;
    }
    .width2{
        width: 200%;
        margin-left: -70%;
    }
} 
@media(max-width:370px) and (max-height:1640px){
    .images{
        margin-top: 240%;
    }
    .image1{
       margin-left: -18.5%;
    }
    footer{
        margin-top: 380%;
    }
    .second{
        margin-top:160%;
    }
    
}
@media(max-width:368px){
    .images{
        margin-top: 180%;
    }
    footer{
        margin-top: 320%;
    }
}
@media(max-width:368px) and (max-height:1640px){
    .images{
        margin-top: 240%;
    }
    .image1{
       margin-left: -18.5%;
    }
    footer{
        margin-top: 380%;
    }
    .second{
        margin-top:160%;
    }
    
    
}
@media(max-width:353px){
    .images{
        margin-top: 170%;
    }
    footer{
        margin-top: 320%;
    }
    .lead{
        width: 200%;
        margin-left: -70%;
    }
    .width2{
        width: 200%;
        margin-left: -70%;
    }
}
@media(max-width:353px) and (max-height:1640px){
    .images{
        margin-top: 240%;
    }
    .image1{
       margin-left: -18.5%;
    }
    footer{
        margin-top: 380%;
    }
    .second{
        margin-top:160%;
    }
    #list{
        
    }
}

@media(max-width:346px){
    .images{
        margin-top: 180%;
    }
    footer{
        margin-top: 320%;
    }
    .lead{
        width: 200%;
        margin-left: -70%;
    }
    .width2{
        width: 200%;
        margin-left: -70%;
    }
    .them{
        margin-left: -57%;
    }
}
@media(max-width:346px) and (max-height:1640px){
    .images{
        margin-top: 280%;
    }
    .image1{
       margin-left: -18.5%;
    }
    footer{
        margin-top: 430%;
    }
    .second{
        margin-top:190%;
    }
    #list{
        
    }
}
